// base, всегда первым
@use 'base/variables' as *; // as * чтобы не писать variables.$desktop-size
@use 'base/mixins' as *;
@use 'base/reset';
@use 'base/base';
@use 'base/containers';

// components
@use 'components/navigation';
@use 'components/header';
@use 'components/cards';
@use 'components/practice';

:root {
  --container-width: 1180px;
  --container-padding: 15px;
}

//layout
.btn {
  padding: 10px 50px;
  background-color: $color-primary-dark;
  color: $color-white;
  border-radius: 20px;
}

.section {
  padding: 120px 0 0;
  &__title {
    font-family: $font-family-heading;
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    color: $color-text-title;
  }
  &__desc {
    max-width: 800px;
    text-align: center;
    color: $color-text-body;
    margin: 20px auto 50px;
  }
}

.svgBg {
  fill: #fff;
  width: 100%;
  height: auto;
  filter: drop-shadow(4px 4px 8px rgba(34, 60, 80, 0.5));
}

.breath {
  min-height: 500px;
  position: relative;
  &__container {
    position: relative;
    background-image: url('./src/assets/images/breath_bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__wrap {
    @include flex(space-between);
    position: relative;
    z-index: 2;
  }

  &__item {
    width: 400px;
    position: relative;
    padding: 20px 60px 20px 30px;
    border: 2px solid transparent;
    border-radius: 8px;
    background:
      url('../assets/images/breath-dots.svg') center center / auto 85% no-repeat,
      linear-gradient(90deg, #c3e2de, #cff1ed 80%, transparent) padding-box,
      linear-gradient(90deg, $color-primary-dark, #c3e2de 80%, transparent)
        border-box;

    &:not(:first-child) {
      margin-top: 30px;
    }

    &-title {
      font-weight: 500;
      font-size: 24px;
      color: $color-text-subtitle;
      margin-bottom: 10px;
    }

    &-box-icon {
      @include flex();
      width: 50px;
      height: 50px;
      border: 1px solid $color-white;
      border-radius: 50%;
      background-color: $color-primary-dark;
      position: absolute;
      top: 50%;
      right: 10px;
      cursor: pointer;
      transform: translateY(-50%);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }

    &-icon {
      fill: $color-white;
      width: 20px;
      height: auto;
    }
  }

  &__img-box {
    width: 600px;
    flex-shrink: 0;
    position: relative;
    z-index: 2;
  }

  &__leaf {
    position: absolute;
    z-index: 1;

    &_1 {
      right: 0;
      bottom: 0;
    }
    &_2 {
      right: 0;
      top: 60px;
    }
    &_3 {
      right: 0;
      top: 0;
      &-1 {
        left: 600px;
        top: 250px;
      }
      &-2 {
        left: 400px;
        bottom: 60px;
        transform: rotate(150deg);
      }
    }
    &_4 {
      top: 0;
      left: 0;
    }
    &-mandala {
      left: 0;
      bottom: 0;
    }
  }
}
