// base, всегда первым
@use 'base/variables' as *; // as * чтобы не писать variables.$desktop-size
@use 'base/mixins' as *;
@use 'base/reset';
@use 'base/base';
@use 'base/containers';

// components
@use 'components/navigation';
@use 'components/header';
@use 'components/cards';
@use 'components/practice';
@use 'components/breath';

:root {
  --container-width: 1180px;
  --container-padding: 15px;
}

//layout
.btn {
  padding: 10px 50px;
  background-color: $color-primary-dark;
  color: $color-white;
  border-radius: 20px;
}

.section {
  padding: 120px 0 0;
  &__title {
    font-family: $font-family-heading;
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    color: $color-text-title;
  }
  &__desc {
    max-width: 800px;
    text-align: center;
    color: $color-text-body;
    margin: 20px auto 50px;
  }
}

.svgBg {
  fill: #fff;
  width: 100%;
  height: 100%;
  filter: drop-shadow(4px 4px 8px rgba(34, 60, 80, 0.5));
}

.best {
  position: relative;

  &__bg {
    width: 100%;
    height: 931px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
  }

  &__mandala {
    width: auto;
    height: 600px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__container {
    position: relative;
    z-index: 2;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 50px;
    align-items: center;
  }

  &__list {
    display: grid;
    gap: 40px;
    grid-auto-rows: minmax(150px, auto);
    &_left {
      text-align: right;
    }
  }

  &__item {
    padding: 15px 25px 15px 60px;
    border-radius: 10px;
    border: 2px solid transparent;
    background:
      linear-gradient(270deg, #c3e2de, #cff1ed 80%, transparent) padding-box,
      linear-gradient(270deg, $color-primary-dark, #c3e2de 80%, transparent)
        border-box;

    &_right {
      padding: 15px 60px 15px 25px;
      background:
        linear-gradient(90deg, #c3e2de, #cff1ed 80%, transparent) padding-box,
        linear-gradient(90deg, $color-primary-dark, #c3e2de 80%, transparent)
          border-box;
    }
    &-title {
      font-weight: 500;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.8);
      margin-bottom: 10px;
    }
  }

  &__img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
}
